.container header a{
    color: #1a0841;
}

.nav-link:hover{
    color: rgb(255, 0, 106);
}
.nav-link.active {
    font-weight: bold; 
    color: #ffad5a; 
    text-decoration: underline; 
}

.nav-button button{
    background-color: #1a0841;
    color: #ffad5a;
    border: #1a0841;
}

.nav-button button:hover{
    background-color: #f4f0fe;
    color: #000;
}

.border_1{
    border: 1px #000 solid;
}

.bottom_20{
    margin-bottom: 20px;
}

.heading_size{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin: 30px;
}

.subheading_size{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
}

.card_400{
    height: 400px;
}

.gift-set{
    width: 300px;
    height: 300px;
}

.card-img-top{
    margin: 5px;
}

.card-body{
    text-align: center;
}

.card-body h5{
    margin: 25px;
}

.best-seller-product{
    margin: auto;
    height: 250px;
    width: 250px;
}

.footer{
    text-align: center;
    padding: 10px;
    margin: 5px;
}

/* home page */

.home-card{
    text-align: center;
}

.home-card a {
    text-decoration: none;
    color: #000;
}


/* product page */

.product-image {
    max-width: 100%;
    height: auto;
}

.size-button {
    margin-right: 10px;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.add-to-basket-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.size-button.active {
    background-color: black;
    color: white;
}

.card{
    background-color: #f4f0fe;
}
.card a{
    text-decoration: none;
    color: #000;
}

.card img{
    width: 350px;
    height: 350px;
}

/* contact us */

.form-control{
    border: 3px solid #f4f0fe;
}

.contact-container{
    border: 5px solid #1a0841;
    width: 50%;
}

.contact-container h2{
    text-align: center;
    margin: 15px;
}
.contact-container button{
    display: block;
    background-color: #1a0841;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    width: 33%;
    padding: 10px;
}

.contact-container button:hover{
    background-color: #f4f0fe;
    color: #000;
}

.contact-container input:focus,
.contact-container textarea:focus
{
    outline: 2px solid #1a0841; 
    border-color: #1a0841;
}

#faq{
    text-align: center;
    margin: 15px;
}
.accordion{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.accordion,
.accordion-header{
    outline: 2px solid #1a0841; 
    border-color: #1a0841;
    background-color: #1a0841;
}

.accordion-button {
    background-color: #f4f0fe; 
    color: #000; 
}

.accordion-button:not(.collapsed) {
    background-color: #f4f0fe; 
    color: #000; 
}

#map {
    height: 400px; 
    margin: 25px;
}

@media (max-width: 768px) {
    .contact-container{
        width: 90%;
    }
    .accordion{
        width: 90%;
    }

    .container header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .container header ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container header button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100px;
    }

    .container .heading_size{
        display: flex;
        flex-wrap: wrap;
        margin: auto;    
}

    .container .subheading_size{
        display: flex;
        font-size: 12px;
        letter-spacing: 0;
        font-weight: bold;
        flex-wrap: wrap;
    }
}