/* Styles for navigation links */
.nav-link{
    color: #1a0841;
}

.nav-link:hover{
    color: rgb(255, 0, 106);
}
.nav-link.active {
    font-weight: bold; 
    color: #ffad5a; 
    text-decoration: underline; 
}

/* Styles for navigation buttons */
.nav-button button{
    background-color: #1a0841;
    color: #ffad5a;
    border: #1a0841;
}

.nav-button button:hover{
    background-color: #f4f0fe;
    color: #000;
}

/* Styles for login and sign-up buttons */
a.login-button, a.sign-up-button{
    background-color: #1a0841;
    color: #ffad5a ;
    border: #1a0841;
}

a.login-button:hover, a.sign-up-button:hover{
    background-color: #f4f0fe;
    color: #000;
}

/* Center the about us section */
.about-us{
    margin: auto;
}

/* Border styles */
.border_1{
    border: 1px #000 solid;
}

/* Adds a bottom margin of 20px */
.bottom_20{
    margin-bottom: 20px;
}

/* Styles for main headings */
.heading_size{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin: 30px;
}

/* Styles for subheadings */
.subheading_size{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
}

/* card height 400px */
.card_400{
    height: 400px;
}

/* Styles for card images */
.card-img-top{
    margin: 5px;
    border-radius: 10px;
}

/* Styles for about us section */
#about{
    margin: 25px auto;
    width: 75%;
}

/* Center text in card body */
.card-body{
    text-align: center;
}

/* Adds a margin of 25px for card body headings */
.card-body h5{
    margin: 25px;
}

/* Styles for menu-card product images */
.menu-card{
    margin: auto;
    height: 250px;
    width: 250px;
}


/* Styles for footer */
.footer{
    text-align: center;
    padding: 10px;
    margin: 5px;
}

/* home page styles*/

.home-card{
    text-align: center;
}

.home-card a {
    text-decoration: none;
    color: #000;
}


/* product page styles */

.product-image {
    max-width: 100%;
    height: auto;
    background-color: #cec4e8;
}

.size-button {
    margin-right: 10px;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.add-to-basket-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.add-to-basket-btn:hover,
.size-button:hover {
    background-color: #cec4e8;
    color: black;
}

body.dark-mode .add-to-basket-btn:hover,
body.dark-mode .size-button:hover {
    background-color: #1a0841;
    color: #cec4e8;
}

.size-button.active {
    background-color: black;
    color: white;
}

/* Card styles */
.card{
    background-color: #f4f0fe;
    
}
.card a{
    text-decoration: none;
    color: #000;
}

.card img{
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
}

.add-to-basket-btn{
    margin: 25px;
    margin-bottom: 35px ;
}

/* Styles for gift set images */
.gift-set{
    width: 300px;
    height: 300px;
}
/* contact us styles*/

.form-control{
    border: 3px solid #f4f0fe;
}

.contact-container{
    border: 5px solid #1a0841;
    width: 50%;
}

.contact-container h2{
    text-align: center;
    margin: 15px;
}
.contact-container button{
    display: block;
    background-color: #1a0841;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    width: 33%;
    padding: 10px;
}

.contact-container button:hover{
    background-color: #f4f0fe;
    color: #000;
}

.contact-container input:focus,
.contact-container textarea:focus
{
    outline: 2px solid #1a0841; 
    border-color: #1a0841;
}

/* FAQ section styles */
#faq{
    text-align: center;
    margin: 15px;
}
.accordion{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.accordion,
.accordion-header{
    outline: 2px solid #1a0841; 
    border-color: #1a0841;
    background-color: #1a0841;
}

.accordion-button {
    background-color: #f4f0fe; 
    color: #000; 
}

.accordion-button:not(.collapsed) {
    background-color: #f4f0fe; 
    color: #000; 
}

/* Map styles */
#map {
    height: 400px; 
    margin: 25px;
}



/* dark mode styles*/

body.dark-mode {
    background-color: #121212;
    color: #f4f0fe;
}

header {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode header{
    border-bottom: 1px solid #444444;
}

body.dark-mode .nav-link {
    color: #cec4e8;
}

body.dark-mode .nav-link:hover {
    color: pink;
}

body.dark-mode .add-to-basket-btn {
    background-color: #cec4e8;
    color: #000;
}

body.dark-mode #quantity{
    background-color: #212121;
    color: #cec4e8;
}

body.dark-mode .size-button{
    background-color: #212121;
    color: #cec4e8;
}

body.dark-mode .size-button:active,
body.dark-mode .size-button:focus
{
    background-color: #cec4e8;
    color: #212121;
}

body.dark-mode .form-control{
    border: 3px solid #1a0841;
}

body.dark-mode .contact-container{
    border: 5px solid #cec4e8;
    width: 50%;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode input:focus,
body.dark-mode textarea:focus{
    background-color: #212121;
    color: #cec4e8;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
    color: #cec4e8;
}

body.dark-mode .accordion,
body.dark-mode .accordion-button{
    background-color: #1a0841;
    color: #cec4e8;
}

body.dark-mode .accordion-body{
    background-color: #cec4e8;
    color: #1a0841;
}

body.dark-mode .nav-link.active,
body.dark-mode .nav{
    color: #ffad5a;
}

body.dark-mode .card{
    background-color: #1a0841;
    color: #cec4e8;
}

img.male-perfume,
img.female-perfume,
img.gift-set{
    border-bottom:  1px solid #1a0841;
}

body.dark-mode img.male-perfume,
body.dark-mode img.female-perfume,
body.dark-mode img.gift-set{
    border-bottom: 1px solid #cec4e8;
}

body.dark-mode .card-title,
body.dark-mode .card-text{
    color: #cec4e8;
}

.form-check-input:checked {
    background-color: #1a0841; 
    border-color: #cec4e8;
  }

  .form-check-input {
    background-color: #cec4e8; 
    border-color: #1a0841;
  }

  /* contact us form send email colour link */

  #send_email{
    color:hotpink
}

/* Styles for footer */

#footer{
    background-color: #444444;
    color: #cec4e8;
}

.no_bg{
    background-color:transparent
  
}

.color_light{
    color: #f4f0fe;
    border: none;

}

/* Responsive styles for screens smaller than 1000px should be 768px */
@media (max-width: 1000px) {

    .card-img-top{
        margin: 0;
    }

    .nav-button{
        margin-bottom: 20px;
    }

    .contact-container{
        width: 90%;
    }

    body.dark-mode .contact-container{
        width: 90%;
    }

    .accordion{
        width: 90%;
    }

    .container header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .container header ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container header button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100px;
    }

    .container .heading_size{
        text-align: center; 
        font-size: 32px;
        margin: 15px;
}

    .container .subheading_size{
        display: flex;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .product-details{
        text-align: center;
    }

    .product-details p{
        margin: 15px;
    }

}
